@import "../../style/config.scss";
@import "../../style/media-queries.scss";

.title-container {
    position: relative;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: $Montserrat;
    color: $primary-1;

    .background {
        font-size: 5rem;
        font-weight: 700;
        opacity: 0.2;
        @include tablet-only {
            font-size: 3.5rem;
        }
        @include mobile-only {
            font-size: 9vw;
        }
    }

    h2 {
        position: absolute;
        top: 30px;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 3rem ;
        padding: 5px;
        margin: 0 auto;
        @include tablet-only {
            font-size: 2.5rem;
            top: 17px;
        }
        @include mobile-only {
            font-size: 5vw;
            top: 10px;
        }
    }

    .line {
        display: block;
        width: 234px;
        height: 1px;
        background-color: $primary-1;
        color: $primary-1;
        margin: 0 auto;

        @include mobile-only {
            width: 130px;
        }
    }
}