@import "../../style/config.scss";
@import "../../style/media-queries.scss";

header {
    max-width: 100%;
    height: 90px;
    background: rgba($color: $primary-2, $alpha: 0.7);

    @include tablet-only {
        height: 70px;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        height: 100%;
        margin: 0 30px;

        @include mobile-only {
            margin: 0 5px;
        }
        

        .nav-logo {
            width: 43px;
            height: 55px;
            transition: all 0.4s ease-in-out;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            @include tablet-only {
                width: 38px;
                height: 49px;
            }
            
            &:hover {
                background-color: $primary-1;
            }
            
            a {
                width: 100%;
                height: 100%;
                
                img {
                    width: 100%;
                    height: 100%;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        
        .link {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0;
            
            @include tablet-only {
                width: 100%;
            }
            a {
                position: relative;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: $primary-1;
                font-size: 1.5rem;
                font-family: $Oswald;
                font-weight: 400;
                transition: all 0.4s ease-in-out;
                display: flex;
                align-items: center;
                justify-content: center;

                @include tablet-only {
                    font-size: 1.3rem;
                }
                
                @include mobile-only {
                    font-size: 0.9rem;
                }
                &:hover {
                    background-color: $primary-1;
                    color: $primary-2;
                    cursor: pointer;
                }

            }
        }
    }
}

.portfolio-link::before {
  content: "";
  display: block;
  width: 2px;
  height: 50%;
  background-color: $primary-1;
  position: absolute;
  right: 0;
}
