// FONTS

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Oswald:wght@200;400;600&display=swap');

$Montserrat: 'Montserrat', sans-serif;
$Oswald: 'Oswald', sans-serif;

// COLORS

$primary-1: #2D2E32;
$primary-2: #F4F5FF;
$secondary: #0642B4;

// GRADIENT

$gradient-1: linear-gradient(180deg, #7A7A7A 0%, #F4F5FF 100%);
$gradient-2: linear-gradient(180deg, #F4F5FF 60.42%, #7A7A7A 100%);

