// MEDIA QUERIES

$breakpoint: (
    tablet: 1024px,
    mobile: 599px,
);

@mixin tablet-only {
    @media screen and (max-width: map-get($breakpoint, tablet)) {
        @content;
    }
}

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoint, mobile)) {
        @content;
    }
}